<h1>Montreal.rb April 17th</h1>

<div class="register">
  <h3>Register to win a prize</h3>
  <%= form_for @member do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>
    <br/>
    <%= f.submit "Register!!!", class: "submit" %>
  <% end %>
</div>
