<h1>Register to win a prize on April 17th at Montreal.rb</h1>

<%= form_for @member do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br/>
  <%= f.submit "Register!!!" %>
<% end %>
