<h1>Listing prizes</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Available</th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%= image_tag image_url(prize.image.id) if prize.image %></td>
    <td><%= prize.name %></td>
    <td><%= prize.description %></td>
    <td><%= prize.number %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prize', new_prize_path %>
