<h1>Listing prizes</h1>

<% @prizes.each do |prize| %>
  <div class="prize">
    <%= image_tag image_url(prize.image.id) if prize.image %>
    <div class="title">
      <span class="name"><%= prize.name %></span>
      <span class="available">(<%= prize.number %> available)</span>
    </div>
    <div class="description">
      <%= prize.description %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <br />
  <%= link_to 'New Prize', new_prize_path %>
<% end %>
